[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.10"
python-decouple = "*"
psycopg2-binary = "*"
pillow = ">=8.2.0"
django-ckeditor = "*"
django-cloudinary-storage = "*"
gunicorn = "*"
whitenoise = "*"
tweepy = "*"
pycryptodome = "*"
razorpay = "*"
django-redis = "*"
social-auth-app-django = "*"
readtime = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
