
<button
  class="btn btn-light mr-3 like"
  id="{{post.id}}"
  style="border: none; padding: 0; background: none;"
>
{% if post in liked_posts %}
  <a href="{% url 'like_dislike_post' %}"
    ><i
      class="fa fa-thumbs-up"
      aria-hidden="true"
      style="color: blue"
      id="like_dislike"
    > {{total_likes}}</i
  ></a>
</button>
{% else %}
  <a href="{% url 'like_dislike_post' %}"
    ><i
      class="fa fa-thumbs-o-up"
      aria-hidden="true"
      style="color: blue"
      id="like_dislike"
    > {{total_likes}}</i
  ></a>
  {% endif %}
</button>
<i
  class="fa fa-eye"
  aria-hidden="true"
  style="color: black"
  id="like_dislike"
  title="{{post.views}}"
  > {{post.views}}</i
  >
