{% load custom_tags %} {% load static %}

<div class="col-md-12 col-lg-4 sidebar mt-4">
  <!-- Author May Come Here -->

  {% if 'posts' in request.path %} {% include "partials/author.html" %} {% endif %}

  <div class="sidebar-box">
    <h3 class="heading">Popular Posts</h3>
    <div class="post-entry-sidebar">
      <ul>
        {% for post in popular_posts %}

        <li>
          <a href="{% url 'single' post.id post.slug %}">
            <img
              src="{{post.thumbnail.url}}"
              alt="Image placeholder"
              class="mr-4"
            />
            <div class="text">
              <h4>{{post.title}}</h4>
              <div class="post-meta">
                <span class="mr-2">{{post.timestamp|date:"F d Y"}} </span
                >&bullet;
                <span class="mr-2">{{post.categories.name}}</span>&bullet;
                <span class="mr-2">{{post.content|readtime}}</span>
              </div>
            </div>
          </a>
        </li>

        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- END sidebar-box -->

  <!-- Recently Viewed Posts -->
  <div class="sidebar-box">
    <h3 class="heading">Recently Viewed Posts</h3>
    <div class="post-entry-sidebar">
      <ul>
        {% for post in recently_viewed_posts %}

        <li>
          <a href="{% url 'single' post.id post.slug %}">
            <img
              src="{{post.thumbnail.url}}"
              alt="Image placeholder"
              class="mr-4"
            />
            <div class="text">
              <h4>{{post.title}}</h4>
              <div class="post-meta">
                <span class="mr-2">{{post.timestamp|date:"F d Y"}} </span
                >&bullet;
                <span class="mr-2">{{post.categories.name}}</span>&bullet;
                <span class="mr-2">{{post.content|readtime}}</span>
              </div>
            </div>
          </a>
        </li>

        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="sidebar-box" id="">
    <h3 class="heading">
      Series<a href="{% url 'new_series' %}" style="color: black"
        ><i class="fa fa-plus" style="float: right" aria-hidden="true"></i
      ></a>
    </h3>
    <ul class="categories" style="height: 300px; overflow-y: scroll">
      {% for ser in all_series %}

      <li>
        <a href="{% url 'series' ser.id ser.slug %}"
          >{{ser.name}} ({{ser.posts.count}})<span></span
        ></a>
      </li>

      {% endfor %}
    </ul>
  </div>

  <div class="sidebar-box" id="cat_box">
    <h3 class="heading">
      Categories
    </h3>
    <ul class="categories" style="height: 300px; overflow-y: scroll">
      {% for category in categories %}

      <li>
        <a href="{% url 'category' category.slug %}"
          >{{category.name}} <span></span
        ></a>
      </li>

      {% endfor %}
    </ul>
  </div>
  <!-- END sidebar-box -->

  <div class="sidebar-box" id="tag_box">
    <h3 class="heading">
      Tags
    </h3>
    <ul class="tags" style="height: 300px; overflow-y: scroll">
      {% for tag in tags %}

      <li><a href="{% url 'tag' tag.name %}">{{tag.name}}</a></li>

      {% endfor %}
    </ul>
  </div>

  {% if connected %}
  <!-- Start Twitter -->
  <div class="sidebar-box">
    {% if retweeted %}
    <h3 class="heading">Latest Reweet</h3>
    {% else %}
    <h3 class="heading">Latest Tweet</h3>
    {% endif %}
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">{{full_text}}</p>
      &mdash; iRead (@iRead_Blog)
      <a
        href="https://twitter.com/iRead_Blog/status/{{tweet_id}}?ref_src=twsrc%5Etfw"
        >{{date}}</a
      >
    </blockquote>
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
  </div>
  <!-- End Twitter -->
  {% endif %}

  <div class="sidebar-box">
    <h3 class="heading">Subscribe to our newsletters</h3>
    <div id="revue-embed">
      <form
        action="https://digests.ireadblog.com/add_subscriber"
        method="post"
        id="revue-form"
        name="revue-form"
        target="_blank"
      >
        <div class="revue-form-group form-group">
          <input
            class="revue-form-field form-control"
            placeholder="Your email address..."
            type="email"
            name="member[email]"
            id="member_email"
            required
          />
        </div>
        <div class="revue-form-actions">
          <input
            type="submit"
            class="btn btn-primary"
            value="Subscribe"
            name="member[subscribe]"
            id="member_submit"
          />
        </div>
        <div class="revue-form-footer mt-3">
          By subscribing, you agree with Revue’s
          <a target="_blank" href="https://www.getrevue.co/terms"
            >Terms of Service</a
          >
          and
          <a target="_blank" href="https://www.getrevue.co/privacy"
            >Privacy Policy</a
          >.
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END sidebar -->
