{% load static %}

<div class="col-md-12 col-lg-4 sidebar mt-4">
  <!-- Author May Come Here -->

  {% if 'posts' in request.path %}
    {% include "partials/author.html" %}
  {% endif %}

  <div class="sidebar-box">
    <h3 class="heading">Popular Posts</h3>
    <div class="post-entry-sidebar">
      <ul>
        {% for post in popular_posts %}

        <li>
          <a href="{% url 'single' post.slug %}">
            <img
              src="{{post.thumbnail.url}}"
              alt="Image placeholder"
              class="mr-4"
            />
            <div class="text">
              <h4>{{post.title}}</h4>
              <div class="post-meta">
                <span class="mr-2">{{post.timestamp|date:"F d Y"}} </span>&bullet;
                <span class="mr-2">{{post.categories.name}}</span>
              </div>
            </div>
          </a>
        </li>

        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- END sidebar-box -->

  <div class="sidebar-box">
    <h3 class="heading">Categories<a id="new_cat" style="cursor: pointer;"><i class="fa fa-plus" style="float: right;" aria-hidden="true"></i></a></h3>
    <ul class="categories">
      {% for category in categories %}

      <li>
        <a href="{% url 'category' category.name %}"
          >{{category.name}} <span></span
        ></a>
      </li>

      {% endfor %}
    </ul>
  </div>
  <!-- END sidebar-box -->

  <div class="sidebar-box">
    <h3 class="heading">Tags<a id="new_tag" style="cursor: pointer;"><i class="fa fa-plus" style="float: right;" aria-hidden="true"></i></a></h3>
    <ul class="tags">
      {% for tag in tags %}

      <li><a href="{% url 'tag' tag.name %}">{{tag.name}}</a></li>

      {% endfor %}
    </ul>
  </div>
  <div class="sidebar-box">
    {% if retweeted %}
      <h3 class="heading">Latest Retweet</h3>
    {% else %}
      <h3 class="heading">Latest Tweet</h3>
    {% endif %}

    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">{{full_text}}</p>&mdash; iRead (@iReadBot) <a href="https://twitter.com/iReadBot/status/{{tweet_id}}?ref_src=twsrc%5Etfw">March 12, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
<!-- END sidebar -->

<script src="{% static 'js/sidebar.js' %}"></script>