{% extends "core/base.html" %}
{% load static %}
{% block title %}About{% endblock title %}

  
        {% block content %}
        <section class="site-section pt-5">
      <div class="container">
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            
            <div class="row">
              <div class="col-md-12">
                <p class="mb-5 text-center"><img src="{% static 'images/favicon.png' %}" alt="Image placeholder" class="img-fluid" width="202" height="202"></p>
                <p>The best ideas can change who we are. iRead is where those ideas take shape, take off, and spark powerful conversations. We’re an open platform where readers can come to find insightful and dynamic thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is to spread these ideas and deepen understanding of the world.</p>
                <p>We’re creating a new model for digital publishing. One that supports nuance, complexity, and vital storytelling without giving in to the incentives of advertising. It’s an environment that’s open to everyone but promotes substance and authenticity. And it’s where deeper connections forged between readers and writers can lead to discovery and growth. Together with millions of collaborators, we’re building a trusted and vibrant ecosystem fueled by important ideas and the people who think about them.</p>
                <p>Anyone can write on iRead. Thought-leaders, journalists, experts, and individuals with unique perspectives share their thinking here. You’ll find pieces by independent writers from around the globe, stories we feature and leading authors, and smart takes on our own suite of blogs and publications.</p>
                <p>A blank page is also a door. At iRead you can walk through it. It's easy and free to share your thinking on any topic, connect with an audience, express yourself with a range of publishing tools, and even earn money for your work.</p>
                <center><button class="btn btn-success mt-4"><a href="{% url 'new_post' %}" style="color:white;">Write on iRead</a></button></center>
              </div>
            </div>
          </div>
          {% include "partials/sidebar.html" %}
        </div>
      </div>
        </section>
{% endblock content %}

{% block js_down %}
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script src="static/js/script.js"></script>
  <script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
  </script>
  <script>
    var element = document.getElementById("about")
    element.classList.add("active");
  </script>
{% endblock js_down %}
