{% extends "core/base.html" %}
{% load static %}
{% block title %}Contact{% endblock title %}

    {% block content %}
    <section class="site-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-6">
            <h1>Contact Me</h1>
          </div>
        </div>
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            
            <form action="{% url 'contact' %}" method="post">
              {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="name">Name</label>
                      <input type="text" id="name" name="name" class="form-control " required>
                    </div>
                    
                    <div class="col-md-12 form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" class="form-control " required>
                    </div>
                  
                  <div class="col-md-12 form-group">
                      <label for="subject">Subject</label>
                      <input type="text" id="subject" name="subject" class="form-control " required>
                    </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="message">Write Message</label>
                      <textarea name="message" id="message" name="message" class="form-control " cols="30" rows="8" required></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Send Message" class="btn btn-primary">
                    </div>
                  </div>
                </form>
            

          </div>
          {% include "partials/sidebar.html" %}
        </div>
      </div>
    </section>
  
{% endblock content %}
{% block js_down %}
  <script>
    var element = document.getElementById("contact")
    element.classList.add("active");
  </script>
{% endblock js_down %}