{% extends "core/base.html" %}
{% load static %}
{% block title %}Contact{% endblock title %}

    {% block content %}
    <section class="site-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-6">
            <h1>Contact Me</h1>
          </div>
        </div>
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            <form action="{% url 'contact' %}" method="post" id="contactForm">
              {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="name">Name</label>
                      <input type="text" id="name" name="name" class="form-control " required>
                    </div>
                    
                    <div class="col-md-12 form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" class="form-control " required>
                    </div>
                  
                  <div class="col-md-12 form-group">
                      <label for="subject">Subject</label>
                      <input type="text" id="subject" name="subject" class="form-control " required>
                    </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="message">Write Message</label>
                      <textarea name="message" id="message" name="message" class="form-control " cols="30" rows="8" required></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" id="sendMsg" value="Send Message" class="btn btn-primary" onclick="change()">
                    </div>
                  </div>
                </form>
                <h4 style="margin-top: 50px;">
                  Or Contact Us Directly : <a href="mailto:contact@iread.ga">contact@iread.ga</a>
                </h4>

          </div>
          {% include "partials/sidebar.html" %}
        </div>
      </div>
    </section>
  
{% endblock content %}
{% block js_down %}
  <script>
    var element = document.getElementById("contact")
    element.classList.add("active");
  </script>

  <script>
    function change(){
      var name = document.getElementById("name").value;
      var email = document.getElementById("email").value;
      var subject = document.getElementById("subject").value;
      var message = document.getElementById("message").value;
      console.log(name,email,subject,message)
      if (!name=="" && !email=="" && !subject=="" && !message==""){
        var btn = document.getElementById("sendMsg");
        btn.value = 'Sending'
      }
    }
  </script>

  {% if unsubscribe %}
    
  <script>
      Swal.fire({
        title: 'Unubscribe Bulletins',
        html: `<form action="" method="POST" id="bltForm">
          {% csrf_token %}
        <input type="email" id="email" name="email" class="swal2-input" placeholder="Email address">
        </form>
        `,
        confirmButtonText: 'Confirm',
        focusConfirm: false,
        customClass: {
          confirmButton: 'btn btn-primary btn-lg',
        },
        preConfirm: () => {
          const email = Swal.getPopup().querySelector('#email').value
          const csrftoken = $("input[name=csrfmiddlewaretoken]").val()
          var pattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/; 
          if (!email) {
            Swal.showValidationMessage(`Email address is missing.`)
          } else if(String(email).search(pattern) == -1){
            Swal.showValidationMessage(`Enter a valid email address`)
          }
          return { email: email, csrftoken: csrftoken }
        }
      }).then((result) => {
        if(result.value){
          fetch("/bulletins/unsubscribe",{
            body: JSON.stringify({
              email: result.value.email,
            }),
            headers:{
              "X-CSRFToken": result.value.csrftoken
            },
            method: "POST"
          })
          .then((res)=> res.json())
          .then((data)=>{
                   if (data.not_found){
                  Swal.fire({
                    icon: 'error',
                    title: 'Not Found',
                    text: `${data.not_found}`,
                  })
                } else if (data.unsubscribed){
                  Swal.fire({
                    icon: 'success',
                    title: 'Unubscribed',
                    text: `${data.unsubscribed}`,
                  })
                } else {
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops..',
                    text: `We've encountered some error while unsubscribing. Please try again.`,
                  })
                }
          })
        }
      })
    </script>
    
  {% endif %}
{% endblock js_down %}