{% extends "core/base.html" %}
{% load static %}
{% block title %}{{query}}{% endblock title %}


{% block content %}
        <div class="row mb-4">
            {% if results|length < 1 %}
              <div class="col-md-6">
            <h2 class="mb-4">Your search - <strong>{{query}}</strong> - did not match any documents.</h2>
            <p>Suggestions:</p>
            <ul>
                <li>Make sure that all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
            </ul>
          </div>
            {% else %}
          <div class="col-md-6">
            <h2 class="mb-4">Search results for - <strong>{{query}}</strong></h2>
          </div>
          {% endif %}
        </div>
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            <div class="row mb-5 mt-5">

              <div class="col-md-12">
                {% for post in results %}
                  
                <div class="post-entry-horzontal">
                  <a href="{% url 'single' post.slug %}">
                    <div class="image element-animate" data-animate-effect="fadeIn" style="background-image: url({{post.thumbnail.url}});"></div>
                    <span class="text">
                      <div class="post-meta">
                        <span class="author mr-2"><img src="{{post.author.profile_image.url}}" alt="Colorlib"> {{post.author.get_full_name}}</span>&bullet;
                        <span class="mr-2">{{post.timestamp|date:"F d Y"}} </span> &bullet;
                        <span class="mr-2">{{post.categories.name}}</span>
                      </div>
                      <h2>{{post.title}}</h2>
                    </span>
                  </a>
                </div>
                {% endfor %}
                <!-- END post -->

              </div>
            </div>

          </div>
        
  
    {% endblock content %}