{% extends "core/base.html" %}
{% load custom_tags %}
{% load static %}
{% block title %}{{query}}{% endblock title %}


{% block content %}
<section class="site-section">
      <div class="container">
        <div class="row mb-4">
            {% if results|length < 1 and users|length < 1 and categories_res|length < 1 and tags|length < 1 %}
              <div class="col-md-6">
            <h2 class="mb-4">Your search - <strong>{{query}}</strong> - did not match any documents.</h2>
            <p>Suggestions:</p>
            <ul>
                <li>Make sure that all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
            </ul>
          </div>
            {% else %}
          <div class="col-md-6">
            <h2 class="mb-4">Search results for - <strong>{{query}}</strong></h2>
          </div>
          {% endif %}
        </div>
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            <div class="row mb-5">

              <div class="col-md-12">
                {% if users %}
                  <div class="separator" style="margin-top: 10px; margin-bottom: 10px;"><h2>Users</h2></div>
                {% endif %}
                {% for user in users %}
                  <div class="post-entry-horzontal">
                  <a href="{% url 'profile' user.username %}">
                    <div class="image element-animate" data-animate-effect="fadeIn" style="background-image: url({{user.profile_image.url}}); border-radius: 50%;"></div>
                    <span class="text">
                      <h2>{{user.get_full_name}}</h2>
                      <div class="post-meta">
                        <span class="mr-2">{{user.username}} </span> &bullet;
                        <span class="mr-2">{{user.email}}</span>
                      </div>
                    </span>
                  </a>
                </div>
                {% endfor %}
                {% if results %}
                  <div class="separator" style="margin-top: 10px; margin-bottom: 30px;"><h2>Posts</h2></div>
                {% endif %}
                {% for post in results %}
                  
                <div class="post-entry-horzontal">
                  <a href="{% url 'single' post.id post.slug %}">
                    <div class="image element-animate" data-animate-effect="fadeIn" style="background-image: url({{post.thumbnail.url}});"></div>
                    <span class="text">
                      <div class="post-meta">
                        <span class="author mr-2"><img src="{{post.author.profile_image.url}}" alt="Colorlib"> {{post.author.get_full_name}}</span>&bullet;
                        <span class="mr-2">{{post.timestamp|date:"F d Y"}} </span> &bullet;
                        <span class="mr-2">{{post.categories.name}}</span>&bullet;
                        <span class="mr-2">{{post.content|readtime}}</span>
                      </div>
                      <h2>{{post.title}}</h2>
                    </span>
                  </a>
                </div>
                {% endfor %}
                <!-- END post -->

              </div>
            </div>
            {% if pagination %}
              
            <div class="row mt-5">
              <div class="col-md-12 text-center">
                <nav aria-label="Page navigation" class="text-center">
                  <ul class="pagination">
                    {% if results.has_previous %}
                        <li class="page-item"><a class="page-link" href="?query={{query}}&page={{results.previous_page_number}}">&lt;</a></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" style="pointer-events: none;" aria-disabled="true">&lt;</a></li>
                      {% endif %}
                        
                      {% for i in page_range|default_if_none:results.paginator.get_elided_page_range %}
                        {% if results.number == i %}
                        <li class="page-item active">
                          <a class="page-link" href="">{{results.number}}</a>
                        </li>
                        {% else %}
                          {% if i == results.paginator.ELLIPSIS %}
                            <li class="page-item">
                              <span class="page-link">{{i}}</span>
                            </li>
                          {% else %}
                            <li class="page-item">
                              <a class="page-link" href="?query={{query}}&page={{i}}">{{i}}</a>
                            </li>
                          {% endif %}
                        {% endif %}
                      {% endfor %}

                      {% if results.has_next %}
                        <li class="page-item"><a class="page-link" href="?query={{query}}&page={{results.next_page_number}}">&gt;</a></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" style="pointer-events: none;">&gt;</a></li>
                      {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
            
            {% endif %}
             {% if categories_res %}
                  <div class="separator" style="margin-top: 10px; margin-bottom: 10px;"><h2>Categories</h2></div>
              {% endif %}
              {% for category in categories_res %}
              <ul class="categories">
              <li>
                <a href="{% url 'category' category.name %}"
                  >{{category.name}} <span></span
                ></a>
              </li>
            </ul>

              {% endfor %}
              {% if tags %}
                  <div class="separator" style="margin-top: 10px; margin-bottom: 10px;"><h2>Tags</h2></div>
              {% endif %}
              <ul class="tags">
                {% for tag in tags %}

                <li><a href="{% url 'tag' tag.name %}">{{tag.name}}</a></li>

                {% endfor %}

              {% if series %}
                  <div class="separator" style="margin-top: 10px; margin-bottom: 10px;"><h2>Series</h2></div>
              {% endif %}
              <ul class="tags">
                {% for ser in series %}

                    <h1><a class="category" style="background-color:#0080ff" href="{% url 'series' ser.id ser.slug %}">{{ser.name|upper}} SERIES</a></h1>
                  <!-- END Series -->

                {% endfor %}
              </ul>
          </div>
          {% include "partials/sidebar.html" %}
        </div>
      </div>
    </section>
        
  
    {% endblock content %}