{% extends "core/base.html" %} {% load static %} {% block title %}{{post.title}}{% endblock title %} {% block content %}

<section class="site-section py-lg">
      <div class="container">
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <form action="{% url 'update_post' post.id post.slug %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" value="{{post.title}}" class="form-control" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="banner">Banner</label>
                            <img src="{{post.thumbnail.url}}" alt="Image" class="img-fluid mb-5" id="bannerImage" />
                            <input id="imageUpload" type="file" name="banner_image" placeholder="Photo" capture>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="content">Overview <small>(For SEO Preview)</small> </label>
                            <textarea cols="80" id="overview" name="overview" rows="3" style="max-width: 100%;" required>{{post.seo_overview}}</textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Canonical URL
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <label for="canonical_url">Change meta tag <code>canonical_url</code> if this post was first published elsewhere (like your own blog).</label>
                                            <input type="text" id="canonical_url" name="canonical_url" value="{% if post.canonical_url %}{{post.canonical_url}}{% else %}{% endif %}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="content">Content</label>
                            <textarea cols="80" id="editor1" name="editor1" rows="20" data-sample-short required>{{post.content}}</textarea>
                        </div>
                        {% if post.published %}
                          <div class="col-md-6 form-group">
                            <input type="checkbox" id="published" name="published" value="{{post.published}}" checked>
                            <label for="published"> Published</label><br>
                          </div>
                        {% else %}
                          <div class="col-md-6 form-group">
                            <input type="checkbox" id="published" name="published" value="{{post.published}}">
                            <label for="published"> Published</label><br>
                          </div>
                        {% endif %}
                        
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 form-group" style="margin-top: 30px;">
                        <center><input type="submit" value="Update Post" class="btn btn-primary"></center>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
            {% include "partials/sidebar.html" %}
        </div>
    </div>
</section>
{% endblock content %}

{% block js_down %}
<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>
<script>
    function fasterPreview( uploader ) {
        if ( uploader.files && uploader.files[0] ){
            $('#bannerImage').attr('src', 
                window.URL.createObjectURL(uploader.files[0]) );
        }
    }

    $("#imageUpload").change(function(){
        fasterPreview( this );
    });
  </script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugin.js' %}"></script>
<script>
    CKEDITOR.replace('editor1', {
      height: 500,
      extraPlugins: 'filebrowser, codesnippet, markdown',
      filebrowserBrowseUrl: '{% url "ckeditor_browse" %}',
      filebrowserUploadMethod: 'form',
      filebrowserUploadUrl: '{% url "ckeditor_upload" %}'
    });
  </script>

{% endblock js_down %}
