{% extends "core/base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}

    {% block content %}
    <section class="site-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-6">
            <h1>404 Not Found !!</h1>
          </div>
        </div>
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
              <img src="{% static 'images/404.gif' %}" class="mb-3" alt="">
            <p>Many be this page moved? Got deleted?</p>
            <p>Is hiding out in quarantine? Never existed in the first place?</p>
            <p>You can try searching for the article using the search bar 😉</p>
          </div>
          {% include "partials/sidebar.html" %}
        </div>
      </div>
    </section>
  
{% endblock content %}
