{% extends "core/base.html" %} {% load static %} {% block title %}Change Password{% endblock title %} {% block content %}
<section class="site-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-6">
        <h1>Change Password</h1>
      </div>
    </div>
    <div class="row blog-entries">
      <div class="col-md-12 col-lg-8 main-content">
        <form action="" method="post" id="">
          {% csrf_token %}
          <div class="row" id="beforeOldPassword">
            <div class="col-md-12 form-group">
              <input
                type="password"
                id="oldPassword"
                name="oldPassword"
                class="form-control"
                placeholder="Old Password"
                style="width:75%;"
                required
              />
              <div
                class="oldPasswordFeedBackArea invalid-feedback  mt-2"
                style="display: none"
              ></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
                <button
                  type="button"
                  id="checkPasswordBtn"
                  class="btn btn-primary mt-2"
                  onClick="checkPwd()"
                >Check Password</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group" style="display: none;" id="afterOldPassword">
                <input
                type="password"
                id="newPassword1"
                name="newPassword1"
                class="form-control"
                placeholder="New Password"
                required
              />
              <div
                class="newPassword1FeedBackArea invalid-feedback  mt-2"
                style="display: none"
              ></div>
                <input
                type="password"
                id="newPassword2"
                name="newPassword2"
                class="form-control mt-4"
                placeholder="Confirm Password"
                required
              />
              
              <div
                class="newPassword2FeedBackArea invalid-feedback  mt-2"
                style="display: none"
              ></div>
                <input
                  type="submit"
                  id="changePasswordBtn"
                  value="Change Password"
                  class="btn btn-primary mt-4"
                />
            </div>
          </div>
        </form>
      </div>
      {% include "partials/sidebar.html" %}
    </div>
  </div>
</section>

{% endblock content %} {% block js_down %}
<script src="{% static 'js/change-pwd.js' %}"></script>
{% endblock js_down %}
