{% extends "core/base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock title %}

    {% block content %}
    <section class="site-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-6 text-center">
            <h1>Reset Password</h1>
          </div>
        </div>
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            {% if error %}
        <div
          class="alert alert-danger alert-dismissible fade show text-center"
          role="alert"
        >
          {{error}}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
            <form action="" method="post" id="resetForm">
              {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" class="form-control " required>
                        <div class="emailFeedBackArea invalid-feedback" style="display:none"></div>
                    </div>
                    </div>
                  <div class="row mt-3">
                      <div class="col-md-4"></div>
                    <div class="col-md-4 form-group">
                      <center><button type="button" id="sendOtpBtn" onClick="sendOTP()" class="btn btn-primary" disabled>Send OTP</button></center>
                    </div>
                      <div class="col-md-4"></div>
                  </div>
                  <div class="col-md-12 text-center">
                      <div class="otpFeedBackArea invalid-feedback" style="display: none"></div>
                  </div>
                  <div class="row">
                      <div class="col-md-8 form-group" style="display: none" id="afterOTP">
                        <label for="name">Enter OTP</label>
                        <input type="text" id="otp" name="otp" class="form-control " required>
                        <div
                          class="OTPFeedBackArea invalid-feedback"
                          style="display: none"
                        ></div>
                        <button type="button" class="btn btn-primary mt-3" id="verifyOtpBtn" onClick="verifyOTP()">Verify OTP</button>
                        
                      </div>
                      </div>
                    <div class="row">
                        <div class="col-md-12 form-group" style="display: none;" id="newPassword">
                            <label for="password1">Password</label>
                            <input type="password" id="password" name="password" class="form-control " required>
                            <div
                                class="passwordFeedBackArea invalid-feedback"
                                style="display: none"
                            ></div>
                        </div>
                    </div>
                </form>
          </div>
        {% include "partials/sidebar.html" %}
        </div>
      </div>
    </section>
  
{% endblock content %}
{% block js_down %}
<script src="{% static 'js/reset-pswd.js' %}"></script>
{% endblock js_down %}