{% extends "core/base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock title %}

    {% block content %}
    <section class="site-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-6 text-center">
            <h1>Sign Up</h1>
          </div>
        </div>
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            
            <form action="{% url 'signup' %}" method="post" id="signupForm">
              {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label for="name">First Name</label>
                      <input type="text" id="fname" name="fname" class="form-control " required>
                    </div>
                    <div class="col-md-6 form-group">
                      <label for="name">Last Name</label>
                      <input type="text" id="lname" name="lname" class="form-control " required>
                    </div>
                    
                    <div class="col-md-6 form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" class="form-control " required>
                        <small>Please enter correct email only, we'll confirm.</small>
                        <div class="emailFeedBackArea invalid-feedback" style="display:none"></div>
                    </div>
                    <div class="col-md-6 form-group">
                      <label for="username">Username</label>
                      <input type="text" id="username" name="username" class="form-control " required>
                    <div class="usernameFeedBackArea invalid-feedback" style="display:none"></div>
                    </div>
                    
                  <div class="col-md-6 form-group">
                      <label for="password1">Password</label>
                      <input type="password" id="password1" name="password1" class="form-control " required>
                    </div>
                  <div class="col-md-6 form-group">
                      <label for="password2">Confirm Password</label>
                      <input type="password" id="password2" name="password2" class="form-control " required>
                    
                    </div>
                    
                    </div>
                    <div class="row col-md-12">
                        <div class="passwordFeedBackArea invalid-feedback" style="display:none"></div>
                    </div>
                  <div class="row mt-3">
                      <div class="col-md-4"></div>
                    <div class="col-md-4 form-group">
                      <center><button type="button" id="sendOtpBtn" onClick="sendOTP()" class="btn btn-primary" disabled>Send OTP</button></center>
                      
                    </div>
                      <div class="col-md-4"></div>
                  </div>
                  <div class="col-md-12 text-center">
                      <div class="otpFeedBackArea invalid-feedback" style="display: none"></div>
                  </div>
                  <div class="row">
                      <div class="col-md-8 form-group" style="display: none" id="afterOTP">
                        <label for="name">Enter OTP</label>
                        <input type="text" id="otp" name="otp" class="form-control " required>
                        <div
                          class="OTPFeedBackArea invalid-feedback"
                          style="display: none"
                        ></div>
                        <button type="button" class="btn btn-primary mt-3" id="verifyOtpBtn" onClick="verifyOTP()">Verify OTP</button>
                        
                      </div>
                      </div>
                      
                </form>
            <br>
            <center>
            <a class="btn btn-outline-dark" href="{% url 'social:begin' 'google-oauth2' %}" role="button" style="text-transform:none">
              <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
              Login with Google
            </a>
        </center>
          </div>
          {% include "partials/sidebar.html" %}
        </div>
      </div>
    </section>
  
{% endblock content %}
{% block js_down %}
<script src="{% static 'js/register.js' %}"></script>
  <script>
    var element = document.getElementById("signup")
    element.classList.add("active");
  </script>
{% endblock js_down %}