{% extends "core/base.html" %} {% load custom_tags %} {% load static %} 
{% block title %}{{user.get_full_name}}{% endblock title %} {% block content %}
<section class="site-section pt-5" style="margin-top: 30px">
  <div class="container">
    <div class="bio text-center">
      <img
        src="{{user.profile_image.url}}"
        alt="Image Placeholder"
        class="img-fluid"
      />
      <div class="bio-body">
        <h2>
          {{user.get_full_name}} (@{{user.username}}) 
        </h2>
      </div>
    </div>

      <div class="separator ml-1 mr-1" style="margin-top: 30px; margin-bottom: 30px">
        <h2>Your Stats</h2>
      </div>
      <div class="row ml-1 mr-1">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <form action="{% url 'stats' request.session.username %}" method="GET" id="sortForm">
                <select class="form-select mb-3" aria-label="Sort by" id="sortBy" name="sort_by" onchange="selectSorting()">
                    <option value="recent" selected>Recently Created</option>
                    <option value="views">Most Views</option>
                    <option value="likes">Most Likes</option>
                    <option value="comments">Most Comments</option>
                </select>
            </form>
        </div>
          <div class="col-md-4"></div>
        {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'single' post.id post.slug %}"><strong>{{post.title}}</strong></a></h5>
                <p class="card-text"><strong>Published:</strong> {{post.timestamp}} | <strong>Edited:</strong> {{post.date_updated}}
                <span style="float: right;"><i class="fa fa-eye" aria-hidden="true" title="{{post.views}}">&nbsp;{{post.views|humanize_views}}</i>&nbsp;&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true">&nbsp;{{post.likes}}</i>&nbsp;&nbsp;<i class="fa fa-comment" aria-hidden="true">&nbsp;{{post.comments}}</i></span>
                </p>
            </div>
        </div>
        {% endfor %}
        <div class="separator" style="margin-top: 30px; margin-bottom: 30px">
        <h2>Total</h2>
      </div>
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text font-weight-bold"><strong>Total Published Posts:</strong> {{total_published_posts}} | <strong>Total Posts:</strong> {{total_posts}}
                <span style="float: right;" class="font-weight-bold"><i class="fa fa-eye" aria-hidden="true" title="{{post.views}}">&nbsp;{{total_views|humanize_views}}</i>&nbsp;&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true">&nbsp;{{total_likes}}</i>&nbsp;&nbsp;<i class="fa fa-comment" aria-hidden="true">&nbsp;{{total_comments}}</i></span>
                </p>
            </div>
        </div>
      </div>

  </div>
</section>
{% endblock content %}
{% block js_down %}
<script>
    function selectSorting(){
        const sortForm = document.getElementById("sortForm");
        const sorting = document.getElementById("sortBy").value;
        sortForm.submit();
        window.sessionStorage.setItem('sort', sorting);
        // setCookie('sort', sorting, 1);
    }

    function getSelectedValue(){
        const selectedSort = window.sessionStorage.getItem('sort');
        const sorting = document.getElementById("sortBy")
        if(selectedSort == null !! selectedSort == ''€){
            sorting.value = 'recent';
        } else {
            sorting.value = selectedSort;
        }
    }

    window.onload = getSelectedValue;
</script>
{% endblock js_down %}
