{% extends "core/base.html" %} {% load custom_tags %} {% load static %} 
{% block title %}{{user.get_full_name}}{% endblock title %} {% block content %}
<section class="site-section pt-5" style="margin-top: 30px">
  <div class="container">
    <div class="bio text-center">
      <img
        src="{{user.profile_image.url}}"
        alt="Image Placeholder"
        class="img-fluid"
      />
      <div class="bio-body">
        <h2>
          {{user.get_full_name}} (@{{user.username}}) {% if request.session.user_id == user.id %}

          <a href="{% url 'edit_profile' user.username %}"
            ><i
              class="fa fa-pencil-square-o ml-2"
              aria-hidden="true"
              style="color: black"
            ></i
          ></a>
          {% else %}
          <br />
          {% if request.session.user_id %} {% if is_following %}
          <a
            type="button"
            class="btn mb-2 mt-2 mb-md-0 btn-danger btn-round"
            style="width: 128.5px; height: 44px; color: white"
            id="followBtn"
            role="button"
            href="{% url 'follow_user' user.username %}"
          >
            Unfollow <i class="fa fa-user-times" aria-hidden="true"></i>
          </a>
          {% else %}
          <a
            type="button"
            class="btn mb-2 mt-2 mb-md-0 btn-success btn-round"
            style="width: 128.5px; height: 44px; color: white"
            id="followBtn"
            role="button"
            href="{% url 'follow_user' user.username %}"
          >
            Follow <i class="fa fa-user-plus" aria-hidden="true"></i>
          </a>
          {% endif %}

          <button
            type="button"
            class="btn mb-2 mt-2 mb-md-0 btn-primary btn-round"
            id="msgBtn"
          >
            Message <i class="fa fa-envelope" aria-hidden="true"></i>
          </button>

          {% endif %} {% endif %}
        </h2>
        <p id="p_posts">
          <strong>{{total_posts}}</strong> posts &nbsp;&nbsp;<strong
            >{{followers}}</strong
          >
          followers &nbsp;&nbsp;<strong>{{followings}}</strong> following
        </p>
        <small id="small_posts"
          ><strong>{{total_posts}}</strong> posts &nbsp;&nbsp;<strong
            >{{followers}}</strong
          >
          followers &nbsp;&nbsp;<strong>{{followings}}</strong> following</small
        >
        <p>{% if user.about %}{{user.about}}{% endif %}<br />{% if user.location %}{{user.location}}{% endif %}</p>
      </div>
    </div>
    <div class="row blog-entries">
      

      <div class="separator" style="margin-top: 30px; margin-bottom: 30px">
        <h2>Your Stats</h2>
      </div>
      <div class="row">
        {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'single' post.id post.slug %}"><strong>{{post.title}}</strong></a></h5>
                <p class="card-text"><strong>Published:</strong> {{post.timestamp}} | <strong>Edited:</strong> {{post.date_updated}}
                <span style="float: right;"><i class="fa fa-eye" aria-hidden="true" title="{{post.views}}">&nbsp;{{post.views|humanize_views}}</i>&nbsp;&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true">&nbsp;{{post.likes}}</i>&nbsp;&nbsp;<i class="fa fa-comment" aria-hidden="true">&nbsp;{{post.comments}}</i></span>
                </p>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %} {% block js_down %}
<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>
<script>
  $("#msgBtn").click(function (e) {
    Swal.fire({
      title: "Write Your Message",
      input: "textarea",
      inputAttributes: {
        autocapitalize: "off",
      },
      showCancelButton: true,
      confirmButtonText: "Send",
      showLoaderOnConfirm: true,
      preConfirm: (message) => {
        return fetch(`{% url 'send_message' user.username %}`, {
          body: JSON.stringify({ message: message }),
          method: "POST",
          credentials: "same-origin",
          headers: {
            "X-CSRFToken": getCookie("csrftoken"),
          },
        })
          .then((res) => res.json())
          .then((response) => {
            if (response.message_error) {
              throw new Error(response.message_error);
            } else if (response.message_success) {
              icon: "success", Swal.fire(`${response.message_success}`);
            }
          })
          .catch((error) => {
            Swal.showValidationMessage(`${error}`);
          });
      },
      allowOutsideClick: () => !Swal.isLoading(),
    }).then((result) => {
      if (result.message_success) {
        Swal.fire({
          icon: "success",
          title: `${result.message_success}`,
        });
      }
    });
  });
</script>
<script>
  $("#followBtn").click(function (e) {
    e.preventDefault();
    $.ajax({
      url: this.href,
      success: function (response) {
        if (response["is_following"]) {
          $("#followBtn").html(
            `Unfollow <i class="fa fa-user-times" aria-hidden="true"></i>`
          );
          $("#followBtn").removeClass("btn-success");
          $("#followBtn").addClass("btn-danger");
        } else {
          $("#followBtn").html(
            `Follow <i class="fa fa-user-plus" aria-hidden="true"></i>`
          );
          $("#followBtn").removeClass("btn-danger");
          $("#followBtn").addClass("btn-success");
        }
      },
    });
  });
</script>
{% endblock js_down %}
