{% extends "core/base.html" %}
{% load static %}
{% block title %}Sponsorship Dashboard{% endblock title %}

    {% block content %}
    <section class="site-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-6">
            <h1>Sponsor Us</h1>
          </div>
        </div>
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            {% if error %}
        <div
          class="alert alert-danger alert-dismissible fade show text-center"
          role="alert"
        >
          {{error}}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% if message %}
        <div
          class="alert alert-success alert-dismissible fade show text-center"
          role="alert"
        >
          {{message}}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
            <form action="{% url 'dashboard' %}" method="post" id="sponsorForm">
              {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="name">Name</label>
                      <input type="text" id="name" name="name" class="form-control " required>
                    </div>
                    
                    <div class="col-md-12 form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" class="form-control " required>
                    </div>
                  
                    <div class="col-md-4 form-group">
                      <label for="subject">Amount</label>
                      <div class="input-group-prepend">
                        <div class="input-group-text">₹</div>
                      <input type="number" id="amount" name="amount" class="form-control " required>
                      </div>
                    </div>
                    <div class="col-md-8 form-group" style="margin-top: 40px;">
                        <label for="gateway" style="margin-right: 20px;">Choose Gateway</label>
                        <label for="paytm">
                        <input type="radio" id="paytm" name="gateway" value="paytm"> Paytm</label>
                        <label for="razorpay">
                        <input type="radio" id="razorpay" name="gateway" value="razorpay"> Razorpay</label>
                    </div>
                </div>
                  <div class="row">
                      <div class="col-md-4"></div>
                    <div class="col-md-4 form-group">
                      <center><input type="button" onClick="confirmPay()" id="sponsorBtn" value="Sponsor Now" class="btn btn-primary m-4"></center>
                    </div>
                    <div class="col-md-4"></div>
                  </div>
                </form>
                <div class="row">
                  <p><strong>Note : The above implementations are for Test Mode only. Please find the Test Cards and UPI Details <a href="https://razorpay.com/docs/payment-gateway/test-card-upi-details/">here</a> for Razorpay and <a href="https://developer.paytm.com/docs/test-instruments/testing-integration/">here</a> for Paytm.</strong></p>
                  <br>
                  <p>If you wish to sponsor us, use the below buttons :</p>
                  <!-- <div class="col-md-6" style="margin-top: 10px;">
                    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="ashutoshkrris" data-color="#8540f5" data-emoji="💰"  data-font="Cookie" data-text="Sponsor Us" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00"></script>
                  </div>
                  <div class="col-md-6" style="margin-top: 10px;">
                    <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Sponsor Us on Ko-fi', '#8540f5', 'Y8Y320QYE');kofiwidget2.draw();</script> 
                  </div> -->
                  <center><script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#8540f5', 'T6T23YR7C');kofiwidget2.draw();</script>  </center>
                  <br><br>
                  <center>
                    <a href="https://www.buymeacoffee.com/ireadblog"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a book&emoji=📖&slug=ireadblog&button_colour=8540f5&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00" style="margin-bottom: 50px;"></a>
                  </center>
                </div>
          </div>
          {% include "partials/sidebar.html" %}
        </div>
      </div>
    </section>
  
{% endblock content %}
{% block js_down %}
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('ireadblog', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support me',
    'floating-chat.donateButton.background-color': '#8540f5',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>
  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="ireadblog" data-description="Support me on Buy me a coffee!" data-message="Thank you for visiting. You can buy me a book if you loved the blog." data-color="#8540f5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  <script>
    var element = document.getElementById("sponsor")
    element.classList.add("active");
  </script>
  <script>
      function confirmPay(){
          const amount = document.getElementById("amount").value;
          const name = document.getElementById("name").value;
          const email = document.getElementById("name").value;
          const gateway_names = document.getElementsByName("gateway");
          let gateway
          for(i = 0; i < gateway_names.length; i++) { 
                if(gateway_names[i].checked) 
                 gateway = gateway_names[i].value; 
            }
          if (!name || !email || !amount || !gateway){
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: `Looks like you've missed one or more field(s)`
                })
          } else {
              if(gateway == 'paytm'){
                Swal.fire({
                    imageUrl: '{% static "images/paytm.png" %}',
                    imageHeight: 88,
                    imageWidth: 88,
                    imageAlt: 'Paytm Logo',
                    title: `Do you want to pay an amount of ₹ ${amount} ?`,
                    showCancelButton: true,
                    confirmButtonText: `Yes!`,
                    }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            const form = document.getElementById("sponsorForm");
                            form.submit();
                        }
                    })
              } else if(gateway == 'razorpay'){
                Swal.fire({
                    imageUrl: '{% static "images/razorpay.png" %}',
                    imageHeight: 44,
                    imageAlt: 'Razorpay Logo',
                    title: `Do you want to pay an amount of ₹ ${amount} ?`,
                    showCancelButton: true,
                    confirmButtonText: `Yes!`,
                    }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            const form = document.getElementById("sponsorForm");
                            form.submit();
                        }
                    })
              }
        }
    }
  </script>
{% endblock js_down %}